@model Bug

@{
    ViewData["Title"] = "Report";
}

<h5>Reportar</h5>
<br />
@{
    <table class="table">
        <tr>
            @Html.DisplayNameFor(model => model.Title)
            @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
        </tr>
        <tr>
            @Html.DisplayNameFor(model => model.Description)
            @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
        </tr>
        <tr>
            @Html.DisplayNameFor(model => model.Product)
            @Html.TextBoxFor(model => model.Product, new { @class = "form-control" })
        </tr>
        <tr>
            @Html.DisplayNameFor(model => model.Version)
            @Html.TextBoxFor(model => model.Version, new { @class = "form-control" })
        </tr>
        <tr>
            @Html.DisplayNameFor(model => model.Type)
            @Html.TextBoxFor(model => model.Type, new { @class = "form-control" })
        </tr>
    </table>
}
