@model DonattoTech.BugTracker.Core.Models.Bug

<tr>
    <td>
        @Html.DisplayFor(modelItem => @Model.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => @Model.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => @Model.Product)
    </td>
    <td>
        @Html.DisplayFor(modelItem => @Model.Version)
    </td>
    <td>
        @Html.DisplayFor(modelItem => @Model.Status)
    </td>
    <td>
        @Html.DisplayFor(modelItem => @Model.Type)
    </td>
    <td>
        @Html.DisplayFor(modelItem => @Model.BeginDate)
    </td>
</tr>